 * {
     box-sizing: border-box;
 }

 html,
 body {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     max-width: 100vw;
 }

 body {
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #1D2F30;
     font-family: "Open Sans", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 150%;
     font-optical-sizing: auto;
     font-style: normal;
     letter-spacing: 0%;
 }

 .header__navigation-link {
     color: white;
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
 }

 .header__top-inner {
     background-color: #1D2F30;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .logo {
     display: flex;
     gap: 8px;
     align-items: center;
 }

 .header__navigation-list {
     display: flex;
     gap: 64px;
 }

 .images__haeder {
     display: flex;
     margin-left: 296px;
     margin-right: 125px;
     gap: 64px;
 }

 .logo__image {
     margin-left: 165px;
     margin-right: 125px;
 }

 .header__bottom_text {
     font-family: "Cormorant";
     font-size: 60px;
     margin-left: 165px;
     color: white;
     position: absolute;
     line-height: 100%;
     margin-top: 115px;
 }

 .header__bottom_smalltext {
     position: absolute;
     left: 165px;
     top: 256px;
     font-family: "Open Sans", sans-serif;
     color: white;
     font-weight: 400;
     line-height: 150%;
     letter-spacing: 0%;
     width: 635px;
 }

 .header__bottom_link {
     font-family: "Open Sans", sans-serif;
     margin-left: 165px;
     color: #BAE249;
     font-size: 16px;
     position: absolute;
     top: 352px;
 }

 .header__bottom {
     position: relative;
     z-index: 0;
     background-color: #1D2F30;
     margin: 0;
     height: 550px;
     overflow: hidden;
 }

 .header__bottom::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: url("images/1_1.png");
     background-size: cover;
     background-position: center center;
     opacity: 0.3;
     z-index: -1;
     width: 100%;
     height: 100%;
     display: block;
     pointer-events: none;
 }

 .container {
     width: 100%;
     display: flex;
 }

 .artifacts {
     padding: 60px 0;
     background-color: #1D2F30;
     margin-left: 165px;
     top: 610px;
     width: 100%;
 }

 .artifacts .artifact {
     border: 1px solid #0B1919;
     height: 493px;
     width: 255px;
     margin-left: 30px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

 }

 .artifacts .artifact img {
     width: 223px;
     height: 120px;
     align-content: center;
 }

 .button-container {
     margin-left: 16px;
     margin-bottom: 24px;
     margin-top: auto;
 }

 .background-image-artifact {
     background-color: #0B1919;
     height: 180px;
     width: auto;
     padding-top: 16px;
     padding-left: 16px;
 }

 .mini-text {
     font-family: Cormorant;
     font-weight: 700;
     font-size: 16px;
     line-height: 100%;
     color: #899D9D;
     border: 1px solid #899D9D;
     display: inline-block;
     padding: 3px 3px;
     border-radius: 100%;
     align-content: center;


 }

 /* .artifacts .artifact*/
 h3 {
     font-size: 48px;
     margin: 10px 0;
     font-family: Cormorant;
     line-height: 150%;
     color: white;
     font-weight: 700;
     font-style: italic;
 }

 h4 {
     font-size: 24px;
     font-family: Cormorant;
     line-height: 150%;
     color: white;
     font-weight: 700;
     margin: 8px 0 5px 16px;

 }

 .artifacts .artifact p {
     margin: 0 0 10px 16px;
     color: #899D9D;
     font-family: Open Sans;
     font-size: 16px;
     line-height: 150%;
     font-weight: 400;
     margin-bottom: 16px;
 }

 .artifacts .artifact .button {
     display: inline-block;
     padding: 10px 20px;
     color: #BAE249;
     border: 1px solid #BAE249;
     transition: background-color 0.3s;
     margin-block-end: auto;

 }

 .artifacts .artifact .button:hover {
     background-color: #BAE249;
     border-color: #BAE249;
 }

 .headline {
     font-family: Cormorant;
     font-size: 48px;
     line-height: 150%;
     font-weight: 700;
     color: white;
     font-style: italic;
     margin-left: 165px;

 }

 .new_artifacts_content {
     display: flex;

 }

 .pictures {
     background-color: #0B1919;
     height: 493px;
     width: 825px;
     margin-left: 165px;
     justify-content: space-between;
     padding-top: 16px;
     padding-left: 16px;
     margin-right: 30px;
     margin-bottom: 16px;
 }

 .picture2 {
     margin-left: 49px;
 }

 .picture3 {
     margin-left: 51px;
 }

 .picture5 {
     left: 450px;
 }

 .picture6 {
     margin-right: 53px;
 }

 .text_new_artifacts {
     color: #0B1919;
     background-color: #BAE249;
     height: 493px;
     width: 255px;
     padding: 16px;
 }

 .text_new_artifacts h3 {
     font-size: 24px;
     font-family: Cormorant;
     line-height: 150%;
     color: #0B1919;
     font-weight: 700;
 }

 .text_new_artifacts p {
     color: #506829;
     font-weight: 400;
     font-size: 16px;
     font-family: Open Sans;
     line-height: 150%;
     margin-bottom: 24px;

 }

 .button_new_artifacts {
     color: #0B1919;
     margin-top: 75px;
     margin-bottom: 24px;
 }

 .button_new_artifacts a {
     color: #0B1919
 }

 .button_new_artifacts a:hover {
     background-color: #0B1919;
     color: #BAE249;
 }

 .slider {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
 }

 .help {
     margin-left: 165px;
 }

 p {
     font-family: "Open Sans", sans-serif;
     color: white;
     font-weight: 400;
     line-height: 150%;
     letter-spacing: 0%;
 }

 .help .button {
     display: inline-block;
     padding: 10px 20px;
     background-color: #BAE249;
     color: #0B1919;
     /* border: 1px solid #BAE249; */
     transition: background-color 0.3s;
     margin-block-end: auto;

 }

 .help .artifact .button:hover {
     background-color: #0B1919;
     color: #BAE249;

 }

 .help {
     margin-left: 165px;
     padding: 40px 0;

 }

 .help input[type="text"] {
     display: block;
     width: 100%;
     max-width: 350px;
     height: 45px;
     margin-bottom: 24px;
     padding: 0 16px;
     background-color: white;
     color: grey;
     font-family: "Open Sans", sans-serif;
     font-size: 16px;
     font-weight: 400;
 }

 .help input[type="text"]::placeholder {
     color: white;
 }

 .help input[type="text"]:focus {
     outline: none;
     border-color: #BAE249;
     box-shadow: white;
 }

 .help h3 {
     font-family: Cormorant;
     font-size: 48px;
     line-height: 150%;
     color: white;
     font-weight: 700;
     font-style: italic;
 }

 .help p {
     margin: 16px 0 24px 0;
     /* УБРАЛИ position: absolute */
     font-size: 16px;
     /* static вместо absolute */
     font-family: "Open Sans", sans-serif;
     color: white;
     font-weight: 400;
     line-height: 150%;
     width: 825px;
 }

 .chapter_help {

     position: relative;
     z-index: 0;
     background-color: #1D2F30;
     height: 463px;
     overflow: hidden;
     margin-top: 60px;
 }

 .chapter_help::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: url("images/help.png");
     background-size: cover;
     background-position: center center;
     opacity: 0.3;
     z-index: -1;
     width: 100%;
     height: 100%;
     display: block;
     pointer-events: none;
 }


 .footer_one {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 18px;
     gap: 30px;
     background-color: #0B1919;
     height: 60px;
 }

 #picts_footer {
     width: 24px;
     height: 24px;
 }

 .footer_two {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 3px;
     height: 19px;
 }

 .footer-picture {
     width: 64px;
     display: block;
 }



 @media (max-width: 650) {
     .about_content {
         display: block;
         text-align: center;
     }

 }

